:root {
    --olive: #6a7152;
    --honeydew: #ebf5df;
    --eggplant: #694f5d;
    --sunray: #edb458;
}

@font-face {
    font-family: 'mulishblack';
    src: url(../fonts/mulish/Mulish-Black.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mulishregular';
    src: url(../fonts/mulish/Mulish-Regular.ttf) format('truetype');
    font-weight: normal;
    font-family: 'mulishblack';
    src: url(../fonts/mulish/Mulish-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'mulishblack';
    src: url(../fonts/mulish/Mulish-Italic.ttf) format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'mulishblack';
    src: url(../fonts/mulish/Mulish-Light.ttf) format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'brightmelody';
    src: url(../fonts/bright-melody/brightmelodypersonaluseonly-ovogd.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    background-color: var(--honeydew);
    color: var(--eggplant);
    font-family: 'mulishblack';

}

main {
    margin: 0;
    padding: 0;
    width: 100vw;
}

.hero {
    background: honeydew;
    background: linear-gradient(0deg, honeydew 57%, rgba(237, 180, 88, 1) 99%);
    width: 100vw;
    height: 100vh;
}


.logo {
    text-decoration: none;
    position: relative;
    top: 25px;
    font-family: 'brightmelody';
    font-size: 2rem;
    top: 20px;
    color: #ebf5df;
    font-size: 3rem;
    padding-left: 150px;
    font-weight: 700;
    text-shadow: 2px 2px var(--eggplant);
}

.logo:visited {
    color: var(--honeydew);
}

.logo:hover {
    color: #694f5d;
    text-shadow: 0px 0px var(--eggplant);
}

.navdiv {
    display: flex;
    float: right;
    padding-top: 20px;
    padding-right: 200px;
    font-weight: 700;
    font-family: 'mulishblack';
}

nav>div>ul>li {
    list-style: none;
    display: inline;
    margin: 40px;
}

nav>div>ul>li>a {
    color: #ebf5df;
    font-size: 1.3rem;
    text-decoration: none;
}

nav>div>ul>li>a:hover {
    color: #694f5d;
    text-decoration: underline;
}

.addarecipe-btn {
    width: 160px;
    margin-top: 5px;
    height: 43px;
    background-color: #ebf5df;
    color: #694f5d;
    border-radius: 15px;
    border: #ebf5df;
    font-size: 1rem;
    font-weight: 700;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.addarecipe-btn:hover {
    cursor: pointer;
    border: solid;
    border-width: 2px;
    border-color: #694f5d;

}

.hero-div {
    display: flex;
    width: 100vw;
}

.hero-images {
    display: flex;
    width: 50vw;
}

.hero-text {
    margin-top: 100px;
    margin-left: 150px;
    color: #694f5d;
    width: 50vw;

}

.random-btn {
    width: 250px;
    height: 43px;
    font-size: 1rem;
    background-color: #edb458;
    color: #ebf5df;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-weight: 700;

}

.random-btn:hover {
    cursor: pointer;
    border: solid;
    border-width: 2px;
    border-color: #ebf5df;
}

#heroimage1 {
    position: relative;
    left: 100px;
    transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    left: 200px;
    top: -50px;

}

#heroimage2 {
    width: 243px;
    height: 195px;
    position: relative;
    float: right;
    right: 350px;
    top: 50px;
}

#heroimage3 {
    width: 350px;
    height: 350px;
    position: relative;
    right: 700px;
    top: 200px;
}

h1 {
    font-size: 2rem;
    font-family: 'brightmelody';
}

h2 {
    margin-left: 150px;
    font-family: 'brightmelody';

}

h3 {
    font-size: 1.3rem;
    font-weight: 100;

}

h4 {
    margin-left: 150px;
}

.easter-div {
    background: #f1fff0;
    height: 20vh;
    width: 100vw;
    display: inline-block;
}

.easter-btn {
    position: relative;
    float: right;
    top: -60px;
    right: 150px;
    height: 43px;
    width: 300px;
    background-color: var(--olive);
    color: var(--honeydew);
    border-radius: 15px;
    border: #ebf5df;
    font-size: 1rem;
    font-weight: 700;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.easter-btn:hover {
    cursor: pointer;
    border: solid 2px var(--honeydew);
}

.easter-grid-container {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0;
    padding-right: 100px;
}

.space-section {
    padding-left: 150px;
    margin-right: 0;
    height: 60vh;
    background: rgb(237, 180, 88);
    background: linear-gradient(0deg, rgba(237, 180, 88, 1) 0%, #f1fff0 59%);
}

article>a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    text-decoration: underline;
}

article>p {
    font-size: 1rem;
}

.rotd-div {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
}

.padding {
    padding-left: 150px;
}

.rotd-left {
    background-color: #ebf5df;
}

.rotd-left>h2 {
    margin-top: 60px;
    font-size: 2rem;
}

.rotd-left>h4 {
    margin-top: 50px;
    font-size: 1.3rem;
}

.rotd-left>p {
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: 500;
}

#clock {
    position: relative;
    top: 20px;
}

#bowl {
    position: relative;
    top: 20px;
    left: 30px;
}

.rotd-btn {
    width: 250px;
    height: 43px;
    font-size: 1rem;
    background-color: #edb458;
    color: #ebf5df;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-weight: 700;
    position: relative;
    left: 150px;
    top: 30px;
    cursor: pointer;


}

.rotd-btn:hover {
    border: solid 2px var(--honeydew);
}

.article-div {
    background: #edb458;
    height: 20vh;
    width: 100%;
    display: inline-block;
}

article>a {
    text-decoration: none;
    color: #694f5d;
}

article>a:hover {
    text-decoration: underline var(--sunray);
}

.article-div>h2 {
    margin-top: 50px;
}

.article-div>button {
    margin-top: 50px;
}

.article-section {
    padding-left: 150px;
    margin-right: 0;
    height: 60vh;
    background: rgb(237, 180, 88);
    background: linear-gradient(180deg, rgba(237, 180, 88, 1) 0%, rgba(235, 245, 223, 1) 59%);
}

.newsletter-div {
    height: 40vh;
    width: 100vw;
    padding-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    background-color: #ebf5df;
}

.newsletter-left>p {
    width: 400px;
    font-size: 1.2rem;
}

.newsletter-form {
    background-color: #ebf5df;
    padding-left: 50px;
}

input[type=text] {
    width: 70%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #ebf5df;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

input[type=submit] {
    margin-top: 40px;
    width: 350px;
    height: 43px;
    font-size: 1rem;
    background-color: #edb458;
    color: #ebf5df;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-weight: 700;
}

input[type=submit]:hover {
    cursor: pointer;
    border: 2px solid var(--honeydew);
}

input[type=checkbox] {
    display: block;
}

#cb-span {
    display: block;
    width: 500px;
}

.vidHeader {
    margin-top: 100px;
}

.videoDiv {
    background-color: #ebf5df;
    padding-left: 150px;
    margin-right: 0;
    height: 60vh;
}

.addrecipe-div {
    height: 80vh;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    background-color: #edb458;
}

.ar-left {
    font-size: 1.2rem;
    margin-top: 100px;
}

.lightcolor {
    color: #ebf5df
}

.youtubeVid {
    background-color: #ebf5df;
    height: 100vh;
}

.youtubeInner {
    float: left;
}

#footer-image {
    position: relative;
    float: right;
    top: -100px;
    right: 60px;
}

.footer-container>h2 {
    padding-top: 50px;
    color: var(--sunray);
}

.footer-container {
    width: 100vw;
    height: fit-content;
    background-color: #6a7152;
    margin: auto;
    color: #ebf5df;
    font-size: 1.2rem;
}

.footer-row {
    margin-left: 100px;
    display: flex;
    flex-wrap: wrap;
}

.footer-col ul {
    list-style-type: none;
}

.footer-col a {
    text-decoration: none;
}

.footer {
    background-color: #2F2220;
    padding: 30px 0;
}

.footer-col {
    width: 22%;
    padding-right: 110px;
    padding-left: 10px;
}

.footer-col h4 {
    font-weight: 600;
    font-size: 1.3rem;
    margin-left: 38px;
    color: var(--honeydew);
    margin-bottom: 30px;
    position: relative;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 1.2rem;
    color: var(--honeydew);
    text-decoration: none;
    display: block;
    transition: all 0.3s ease;
    padding-top: 5px;
}

footer ul li a:hover {
    text-decoration: underline;
}

.social-links>a {
    padding-left: 20px;
}

.copyright {
    font-size: 1rem;
    width: 100vw;
    height: 30px;
    text-align: center;
    padding-bottom: 3px;
    margin-top: 60px;
}

#footerbtn {
    position: relative;
    left: 0px;
}

#footerbtn:hover {
    border: solid 2px var(--honeydew);
}

/* RECIPE PAGE */

.olive {
    background-color: #6a7152;
    color: #ebf5df;
}

.hero-recipePage {
    background: honeydew;
    background: linear-gradient(0deg, rgb(242, 218, 179) 0%, rgba(237, 180, 88, 1) 99%);
    width: 100vw;
    height: 15vh;
}

.popularCategoriesDiv {
    background: honeydew;
    background: linear-gradient(0deg, rgb(242, 218, 179) 0%, rgba(237, 180, 88, 1) 99%);
    height: 20vh;
    display: grid;
}

.popularCategories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    padding-left: 150px;
    font-size: 1.5rem;
}

.popularCategories>div>span {
    position: relative;
    top: -20px;
    left: 10px;
    font-weight: 700;
    cursor: pointer;
}

.roundPic {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-border-radius: 50%;
    cursor: pointer;
}

.catHead {
    display: grid;
    background-color: #ebf5df;

}

.allCategories {
    display: grid;
    grid-template-columns: 1fr 1fr .8fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "cat1 cat2 filter"
        "cat3 cat4 filter"
        "cat5 cat6 filter";
    background-color: #ebf5df;
    padding-left: 150px;

}

.allCategories>div>img {
    opacity: 0.9;
}

.allCategories>div>img:hover+.bottom-left {
    font-size: 2.2rem;
}

.bottom-left {
    position: relative;
    bottom: 60px;
    left: 16px;
    font-size: 2rem;
    font-weight: 700;
    color: #ebf5df;
}

#filter {
    grid-area: filter;
    background-color: #ebf5df;
    color: #694f5d;
    font-size: 1rem;
}

#filter>h2 {
    margin-left: 20px;
}

.checkbox {
    margin-left: 20px;
}

input[type=checkbox] {
    /* Double-sized Checkboxes */
    -ms-transform: scale(2);
    /* IE */
    -moz-transform: scale(2);
    /* FF */
    -webkit-transform: scale(2);
    /* Safari and Chrome */
    -o-transform: scale(2);
    /* Opera */
    transform: scale(2);
}

.checkbox>label>span {
    position: relative;
    left: 30px;
    bottom: 20px;
    font-size: 1.2rem;
    font-weight: 500;
}

.filter-btn {
    width: 205px;
    margin-top: 20px;
    margin-left: 20px;
    height: 43px;
    background-color: #694f5d;
    color: #ebf5df;
    border-radius: 15px;
    border: #ebf5df;
    font-size: 1rem;
    font-weight: 700;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

#cat1 {
    grid-area: cat1;
}

#cat2 {
    grid-area: cat2;
}

#cat3 {
    grid-area: cat3;
}

#cat4 {
    grid-area: cat4;
}

#cat5 {
    grid-area: cat5;
}

#cat6 {
    grid-area: cat6;
}

#recipesOnpage {
    color: var(--eggplant);
}

#articlesOnpage {
    color: var(--eggplant);
}


/* ERROR PAGE */

#errorImage1 {
    position: relative;
    right: 350px;
    width: 450px;
}

#errorImage2 {
    position: relative;
    right: 450px;
    top: 200px;
}


/* SINGLE RECIPE PAGE */

.prepsteps{
    font-weight: 100;
    padding-left: 180px;
}

.print-btn{
    width: 180px;
}

.h3-description{
    margin-top: 80px;
}

.p-description{
    font-weight: 300;
    width: 35vw;
}


